<div align="center" style="font-family:impact; font-size:30pt;">
  <p><%= @player1_name %> vs. <%= @player2_name %></p>

  <p><%= @player1_name %> HP: <%= @p1_hp %>/<%= Player::MAX_HP %></p>

  <p><%= @player2_name %> HP: <%= @p2_hp %>/<%= Player::MAX_HP %></p>

  <p>
    <% if @current_player == @player1_name %>
      <img src="http://orig02.deviantart.net/634f/f/2012/237/6/c/baby_fluffy_kitten_by_pikachuballoon-d5cdjsn.jpg" height="96" width="140">
    <% else %>
      <img src="http://apriorinaked.com/images/gallery/2815/blueboy3.jpg" height="96" width="96">
    <% end %>
    <%= @current_player %>'s turn
  </p>

  <img src="http://www.zooborns.com/.a/6a010535647bf3970b0120a895c8ea970b-800wi" height="130" width="200" />

  <p><a href='/attacked'>Attack!</a></p>
</div>
