<div align="center" style="font-family:impact; font-size:30pt;">
  <h1><%= @player1.name %> vs. <%= @player2.name %></h1>

  <div class="container">
    <div id="player1_hp">
      <h3><%= @player1.name %> HP: <%= @player1.hp %>/<%= Player::MAX_HP %></h3>
    </div>
    <img class="attack_pic" src="http://www.zooborns.com/.a/6a010535647bf3970b0120a895c8ea970b-800wi"/>
    <div id="player2_hp">
      <h3><%= @player2.name %> HP: <%= @player2.hp %>/<%= Player::MAX_HP %></h3>
    </div>

    <div id="player_turn">
      <img src="<%= url(@current_player.avatar) %>">
      <%= @current_player.name %>'s turn
    </div>

    <form action="/attack" method="post">
      <button type="submit" name="basic_attack">Basic Attack</button>
    </form>

    <form action="/attack" method="post">
      <button type="submit" name="random_attack">Random Attack</button>
    </form>
  </div>

</div>
